@charset "utf-8";
* { margin:0px; padding:0px; font-family: "droid_sansregular";}
#link_get_widget { display:none; }
/** Clearfix */
/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }

.wrapper{margin:0px auto; width:1080px;}

/*
    ICON
*/
.icon-size {width:25px;}
.icon-size-menu {width:60px; height:60px;}
/*
    FONTS
*/

.font_bold {font-family: "droid_sansbold";}
.font_reg { font-family: "droid_sansregular"; }

/*
    BUTTONS
*/ 

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"droid_sansregular";
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
}
.btn:active {
	position:relative;
	top:1px;
}


/*
   INPUTS
*/
.input-text-two { color: rgb(16, 95, 40);  font-family: "droid_sansregular"; width:500px; height:25px; font-size: 12px; border-radius: 5px; border:solid 1px rgb(89, 93, 82); padding:3px; }
.input-text { color: rgb(16, 95, 40);  font-family: "droid_sansregular"; width:100%; height:30px; font-size: 12px; border-radius: 5px; border:solid 1px rgb(89, 93, 82); padding:3px; width: 97%; }
.input-ddown { margin-right:3px; color: rgb(16, 95, 40);  font-family: "droid_sansregular"; height:30px; font-size: 12px; border-radius: 5px; border:solid 1px rgb(89, 93, 82); padding:3px; }

/*
  EFFECTS
*/

.gradient { background-color: rgb(20, 105, 56); background-image: linear-gradient(rgb(95, 207, 128), rgb(20, 105, 56)); background: rgb(20, 105, 56); background: linear-gradient(rgb(95, 207, 128), rgb(20, 105, 56)); }

.innerbanner_content {
    height: auto;
    margin: 0px auto;
    max-width: 860px;
    width: 90%;
    background: none repeat scroll 0% 0% #FFF;
    padding: 5px;
    box-shadow: 0px 0px 15px 10px rgba(100, 100, 100, 0.39);
}

.box2 {
    position: relative;
    width: 860px;
    height: 460px;
    background-color: #FFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25), 0px 0px 50px rgba(0, 0, 0, 0.1) inset;
    border-radius: 0% 0% 25% 25% / 0%;
}
.box2:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px;
    left: 4px;
    width: 50%;
    height: 17%;
    box-shadow: 0px 27px 11px rgba(0, 0, 0, 0.52);
}

.box2:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px;
    right: 4px;
    width: 50%;
    height: 17%;
    box-shadow: 0px 27px 11px rgba(0, 0, 0, 0.52);
    transform: rotate(3deg) skew(8deg);
}

/*
    Notifications
*/

li.notify-ok {width:92%; background-color:rgb(156, 199, 76); border-radius:5px ; border:solid 0px rgb(88, 108, 41); padding:10px; -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe; }
li.notify-err {width:92%; background-color:rgb(234, 23, 23); border-radius:5px ; border:solid 0px rgb(88, 108, 41); padding:10px; -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe; }

/*
    Shadow
*/

.shadow { box-shadow: 4px 4px 5px #888888; }
.inner-shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

/*
    TOKENs
*/

/*
    selectors
*/
::-moz-selection { /* Code for Firefox */
    color: #fff;
    background: rgb(95, 207, 128);
}

::selection {
    color: #fff;
    background: rgb(95, 207, 128);
}

/* For the "inset" look only */
html {
    overflow: auto;
}
body {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    padding: 0px; 
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(39, 255, 0, 0.3); 

}
 
/* Handle */
::-webkit-scrollbar-thumb {

    background: rgba(70, 248, 70, 0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(41, 67, 10, 0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(0, 0, 0, 0.4); 
}

.loader-small{ width:25px; height:25px; }
.loader-medium{ width:50px; height:50px; }

/*notify*/

ul.notify-holder li ul.notify-inner li.notify-desc { font-size:12px; width: 260px; text-align: center; color: rgb(255,255,255); }
ul.notify-holder li ul.notify-inner li.close-notify{ font-size:12px; }
ul.notify-holder li ul.notify-inner li.close-notify a { color:rgb(255,255,255); text-decoration:none; background:rgba(0,0,0,0.1); padding:5px; border-radius:5%;}
ul.notify-holder li ul.notify-inner li.close-notify a:active { color:rgb(219, 168, 31); }

/*row*/
ul.row{ margin:0px auto;  border-bottom: solid 1px rgba(95, 95, 95,0.7);}
ul.row li { border:solid 1px rgb(0,0,0); }
ul.row li.sms-excerpt { width: 371px; text-align: center; }
ul.row li.sms-excerpt a {color:#000; text-decoration: none;}

/* custom settings */
/*
.token-input-token-facebook p { font-size: 1.0em; color: #555; }
.token-input-selected-token-facebook p { color: #fff; }
*/
