body{background-color: rgb(237, 237, 237); background-size: cover;}

header { border:solid 0px #000;  min-height: 40px; border-bottom:solid 2px rgb(72, 92, 87); position:relative; z-index:2;}
header div.banner {border:solid 0px; width:280px;  float:left;}
header div.banner h1 {color:rgb(144, 255, 193); margin:0px auto;}
header div.right-header { border:solid 0px;}
header div.right-header nav ul{float:right;}
header div.right-header nav ul li{float:left; list-style:none; min-width:80px; max-width: 140px; text-align: center; border:solid 0px; padding:5px;font-family:"droid_sansbold"; font-size: 14px; margin:5px 10px 0px 0px;}
header div.right-header nav ul li:hover { background-color: rgba(255, 255, 255, 0.1);}
header div.right-header nav ul li a {color:rgb(255, 255, 255); text-decoration: none;}
header div.right-header nav ul li a:active { color:rgb(235, 235, 35); }

section {border:solid 0px; min-height:521px; margin:0px; padding:0px;}
section ul.content-wrap {border:solid 0px;  width:1300px; margin:0px auto;}
section ul.content-wrap li {float:left; border:solid 0px; list-style: none;}
section ul.content-wrap li.left-content { border:solid 0px; }
.width-dash { max-width:1300px;  }
.width-hom {max-width: 919px;}
section ul.content-wrap li.left-content ul.inner-wrap {margin:10px 0px 0px 50px; border:solid 0px; min-width: 890px; padding:10px; }
section ul.content-wrap li.left-content ul.inner-wrap li{ float:left; border:solid 0px; }
section ul.content-wrap li.left-content ul.inner-wrap li.update-holder { border:solid 0px; width:280px; }
section ul.content-wrap li.left-content ul.inner-wrap li.update-holder ul.update-inner-wrap {margin-bottom:15px;  border-radius: 3px; border:solid 1px rgba(95, 95, 95,0.3);   }
section ul.content-wrap li.left-content ul.inner-wrap li.update-holder ul.update-inner-wrap li.update-header{ border-radius: 3px 3px 0px 0px; width:100%; height:50px;  background-color: rgb(223, 232, 230); }
section ul.content-wrap li.left-content ul.inner-wrap li.update-holder ul.update-inner-wrap li.update-header h4{   margin:16px 0px 0px 5px; color:rgb(111, 107, 107);}
section ul.content-wrap li.left-content ul.inner-wrap li.update-holder ul.update-inner-wrap li.update-description { width:250px; border-radius: 0px 0px 3px 3px; background-color: rgb(252, 252, 252); font-size:13px; min-height: 120px; padding:14px;}
section ul.content-wrap li.left-content ul.inner-wrap li.update-holder ul.update-inner-wrap li.update-description ul.feed-holder { padding-bottom: 10px; border-bottom:solid 1px rgb(191, 184, 184); margin:20px 0px 0px 0px; }
section ul.content-wrap li.left-content ul.inner-wrap li.update-holder ul.update-inner-wrap li.update-description ul.feed-holder li { float:left; list-style:none;}
section ul.content-wrap li.left-content ul.inner-wrap li.update-holder ul.update-inner-wrap li.update-description ul.feed-holder li.feed-image { width:70px; height:70px; }
section ul.content-wrap li.left-content ul.inner-wrap li.update-holder ul.update-inner-wrap li.update-description ul.feed-holder li.feed-image img{ width:60px; height:60px; }
section ul.content-wrap li.left-content ul.inner-wrap li.update-holder ul.update-inner-wrap li.update-description ul.feed-holder li.feed-title p{ font-weight: bold; }
section ul.content-wrap li.left-content ul.inner-wrap li.update-holder ul.update-inner-wrap li.update-description ul.feed-holder li.feed-desc { font-size:12px;}

section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder { margin:0px 10px 0px 10px; border:solid 0px; width:580px; }
section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder ul.gen-update-inner { border:solid 1px; border-radius: 3px 3px 3px 3px; border:solid 1px rgba(95, 95, 95,0.3); margin-bottom:15px;}
section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder ul.gen-update-inner li.gen-update-header { border-radius: 3px 3px 0px 0px; background-color: rgb(223, 232, 230); width:100%; height:50px; }
section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder ul.gen-update-inner li.gen-update-header h4 { margin:16px 0px 0px 5px; color:rgb(111, 107, 107);  }
section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder ul.gen-update-inner li.gen-update-header ul.inner-header{ border:solid 0px;  }
section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder ul.gen-update-inner li.gen-update-header ul.inner-header li{ float:left;  list-style:none; }
section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder ul.gen-update-inner li.gen-update-header ul.inner-header li.img-holder { margin:3px; width:60px; height:45px; }
section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder ul.gen-update-inner li.gen-update-header ul.inner-header li.img-holder img{ width:60px; height:45px; }
section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder ul.gen-update-inner li.gen-update-header ul.inner-header li.post-title { }
section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder ul.gen-update-inner li.gen-update-header ul.inner-header li.post-header h4{ margin:3px 0px 0px 5px; color:rgb(111, 107, 107); }
section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder ul.gen-update-inner li.gen-update-header ul.inner-header li.post-header p{ margin:0px 0px 0px 5px; font-size: 8px; color:rgb(111, 107, 107); }
section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder ul.gen-update-inner li.gen-update-description {width: 538px; padding:10px 20px 20px 20px; min-height:80px; background-color: rgb(252, 252, 252); font-size:14px; border-radius: 0px 0px 3px 3px; }
section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder ul.gen-update-inner li.gen-update-description div.gen-update-image{ margin:0px auto;height:180px; width:480px; }
section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder ul.gen-update-inner li.gen-update-description div.gen-update-image img{ height:180px; width:480px; }
section ul.content-wrap li.left-content ul.inner-wrap li.gen-update-holder ul.gen-update-inner li.gen-update-description article {margin:10px auto;}
section ul.content-wrap li.left-content ul.inner-wrap li.sub-menu-holder { border:solid 0px;width: 849px; padding: 9px;  }
section ul.content-wrap li.left-content ul.inner-wrap li.sub-menu-holder ul.sub-menu-inner{ float:left; }
section ul.content-wrap li.left-content ul.inner-wrap li.sub-menu-holder ul.sub-menu-inner li{border:solid 0px; float:left; text-align: center; margin:0px 5px 0px 0px; font-size:16px;}
section ul.content-wrap li.left-content ul.inner-wrap li.pdf-container { margin-top:10px; }

section ul.content-wrap li.left-content ul.inner-wrap div.heading { margin:20px 0px 0px 0px; border-bottom:dotted 1px rgba(95, 95, 95, 0.7); width:95%; min-height: 40px; }
section ul.content-wrap li.left-content ul.inner-wrap div.heading div.heading-area{ font-size:24px; color:rgb(57, 54, 54); }
section ul.content-wrap li.left-content ul.inner-wrap div.page-description{ margin-top:10px; }
section ul.content-wrap li.left-content ul.inner-wrap div.page-description div.page-description-area{ font-size: 14px; }
section ul.content-wrap li.left-content ul.inner-wrap div.active-list { margin-top:50px;border:solid 1px rgba(95, 95, 95, 0.7); min-height: 80px; width:890px; }
section ul.content-wrap li.left-content ul.inner-wrap div.active-list div.account { background-color:#fff; min-height:80px; }
section ul.content-wrap li.left-content ul.inner-wrap div.active-list div.account ul.account-divider{width:99%; margin:0px auto;}
section ul.content-wrap li.left-content ul.inner-wrap div.active-list div.account ul.account-divider li{margin:10px 0px 10px 10px;}
section ul.content-wrap li.left-content ul.inner-wrap div.active-list div.account ul.account-divider li.account-left{border-radius:5px; width:158px; height:158px; float:left; box-shadow: 0px 0px 5px #000;}
section ul.content-wrap li.left-content ul.inner-wrap div.active-list div.account ul.account-divider li.account-left img{ width:158px; height:158px;}
section ul.content-wrap li.left-content ul.inner-wrap div.active-list div.account ul.account-divider li.account-right{ margin:20px 0px 0px 10px; width:75%; float:left;}
section ul.content-wrap li.left-content ul.inner-wrap div.active-list div.account ul.account-divider li.account-right div.account-mun span.account-mun-area { font-size:26px; color:rgb(0, 113, 209); }
section ul.content-wrap li.left-content ul.inner-wrap div.active-list div.account ul.account-divider li.account-right div.account-settings { margin:15px 0px 0px 0px; }
section ul.content-wrap li.left-content ul.inner-wrap div.active-list div.account ul.account-divider li.account-right div.account-settings span.account-settings-area{ font-size: 14px; }
section ul.content-wrap li.left-content ul.inner-wrap div.active-list div.account ul.account-divider li.account-right div.account-settings span.account-settings-area a{ margin-top:-3px; color:rgb(0, 167, 255); }
section ul.content-wrap li.left-content ul.inner-wrap div.active-list ul.active-list-menu { min-height:180px; padding:20px;}
section ul.content-wrap li.left-content ul.inner-wrap div.active-list ul.active-list-menu li {margin:0px 38px 30px 38px; float:left; }
section ul.content-wrap li.left-content ul.inner-wrap div.active-list ul.active-list-menu li a.link-menu { text-decoration: none; color:rgb(0, 167, 255);}
section ul.content-wrap li.left-content ul.inner-wrap div.active-list ul.active-list-menu li a.link-menu:active { text-decoration: underline; color:rgb(253, 167, 28);}
section ul.content-wrap li.left-content ul.inner-wrap div.active-list ul.active-list-menu li ul.inner-list-menu{ float:left; }
section ul.content-wrap li.left-content ul.inner-wrap div.active-list ul.active-list-menu li ul.inner-list-menu li{ margin:0px 0px 0px 10px;}
section ul.content-wrap li.left-content ul.inner-wrap div.active-list ul.active-list-menu li ul.inner-list-menu li.list-icon-menu{width:60px;}
section ul.content-wrap li.left-content ul.inner-wrap div.active-list ul.active-list-menu li ul.inner-list-menu li.list-name-menu {width:117px; margin:10px;}


section ul.content-wrap li.left-content ul.inner-wrap li.sms-options { min-height: 210px; width:180px; background-color: rgba(255, 255, 255, 0.5); border-radius: 10px 0px 0px 10px;}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-options ul.sms-options-inner {  }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-options ul.sms-options-inner li { margin-top:19px; float:none; border-bottom: solid 1px rgba(95, 95, 95,0.7);}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-options ul.sms-options-inner li a { border:solid 0px; margin-left:10px;color: rgb(44,151,218); text-decoration: none; font-family:"droid_sansbold"; font-size:16px;}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-options ul.sms-options-inner li a:active { color:rgb(33, 165, 250); }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer {padding:10px; font-family:"droid_sansregular"; min-height: 380px; min-width: 710px; background-color: rgba(255, 255, 255, 0.5); -moz-box-shadow:  5px 1px 9px -2px #e5e5e5; -webkit-box-shadow: 5px 1px 9px -2px #e5e5e5; box-shadow: 5px 1px 9px -2px #e5e5e5; border-radius: 0px 10px 10px 0px;}

section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.agency { border:solid 0px; }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.agency li { border:solid 0px; width: 330px; margin-left: 15px;  }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.agency li h4.header-agency { border:solid 0px; background-color: rgb(252, 208, 53); padding :5px; border-radius: 5px 5px 0px 0px; }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.agency li div.select-all { padding:0px; border-left:solid 1px rgba(95, 95, 95,0.7); border-right:solid 1px rgba(95, 95, 95,0.7); }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.agency li div.select-all ul li { float:left;}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.agency li div.list-agency { border:solid 1px rgba(95, 95, 95,0.7); overflow-y:scroll; height:160px; }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.agency li div.list-agency ul.agency-rows {border-bottom:1px solid rgba(95, 95, 95,0.7); margin:3px auto;}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.agency li div.list-agency ul.agency-rows li { float:left; border:solid 0px; width:85px; }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.agency li div.list-agency ul.agency-rows li.v { text-align: right; }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer div.messaging-wrap { width: 673px; margin:10px auto;  border:solid 0px;}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer div.messaging-wrap ul.messaging-text-wrap { border:solid 0px;  }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer div.messaging-wrap ul.messaging-text-wrap li{ margin-top:5px;  }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer div.messaging-wrap ul.messaging-text-wrap li.recepient {width:680px;}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer div.messaging-wrap ul.messaging-text-wrap li.recepient input.input-recept{width:670px;}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer div.messaging-wrap ul.messaging-text-wrap li.messaging textarea.input-message { width: 670px; height: 180px; resize: vertical; }

ul.box-req {margin-bottom: 10px; font-size: 14px;}

section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.command-wrap { border:solid 0px; width: 670px; margin:0px auto;}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.command-wrap li { float:right; }

section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.request-header{ }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.request-header li{ font-size: 18px;width: 252px;text-align: center; color: #2C97DA;}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer div.request-holder { width:1030px; margin:4px auto; height: 480px; overflow-y: scroll; border-top:solid 3px rgb(160, 160, 160);}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer div.request-holder ul{border-bottom: solid 1px rgb(159, 155, 155); padding:1px; margin-top:3px;}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer div.request-holder ul.req-row:nth-child(1){margin-top:5px;}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer div.request-holder ul.req-row li{ font-size: 14px;width: 245px;text-align:center; }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer div.request-holder ul.req-row li.req-sender,li.req-details,li.req-date{ padding:5px; }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer div.request-holder ul.req-row li.req-options a.req-btn { padding: 3px 19px; }
/*

section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.request-holder li { float:left; text-align: center;}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.request-holder li.request-type-holder {width:250px;}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.request-holder li.request-type-holder div.request-type{color: rgb(44,151,218); border-bottom: solid 1px rgb(159, 155, 155); padding: 10px;}
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.request-holder li.request-type-holder div.request-type:hover{ background-color:rgb(237, 237, 237); }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.request-holder li.request-type-holder div.request-type:active{ color:rgb(250, 203, 4); }

section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.request-holder li.request-list { border:solid 0px; min-height: 480px; padding:10px; }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.request-holder li.request-list ul.req-list li.sms-sender{ width:100px; }
section ul.content-wrap li.left-content ul.inner-wrap li.sms-viewer ul.request-holder li.request-list ul.req-list li.request-options{ width:320px; text-align: right; }
*/
section ul.content-wrap li.left-content div.send-process-holder {font-family:"droid_sansregular"; min-height: 380px; border: 0px solid; width: 932px; background-color: rgba(255, 255, 255, 0.5); -moz-box-shadow:  5px 1px 9px -2px #e5e5e5; -webkit-box-shadow: 5px 1px 9px -2px #e5e5e5; box-shadow: 5px 1px 9px -2px #e5e5e5; border-radius: 0px 10px 10px 0px;}
section ul.content-wrap li.left-content div.send-process-holder ul.send-list li { margin: 0px 0px 0px 30px; width: 418px; }
section ul.content-wrap li.contact {padding:10px;border-radius:5px;  min-height:480px; margin: 5px; background-color:rgba(255,255,255,0.7);}
section ul.content-wrap li.contact-list { width: 915px; }
section ul.content-wrap li.contact-list ul.contact-search {padding:10px;background-color:#fff; margin:20px 0px 0px 0px; border-bottom:2px solid rgba(95, 95, 95,0.7);}
section ul.content-wrap li.contact-list ul.contact-search li{width:193px; text-align: center;}
section ul.content-wrap li.contact-list ul.contact-search li select.contact-dept-search {width:180px;}
section ul.content-wrap li.contact-list ul.contact-search li.cn_loader { text-align: left; }
section ul.content-wrap li.contact-list ul.contact-search li.cn_loader img { width: 40px;height: 36px; }
section ul.content-wrap div.result { overflow-y: scroll; height: 406px;}
section ul.content-wrap div.result div.contact-wrap {padding:3px; border-bottom:solid 1px rgba(95, 95, 95,0.7); }
section ul.content-wrap div.result div.contact-wrap ul.contact-row{ float:none; } 
section ul.content-wrap div.result div.contact-wrap ul.contact-row-one li.contact-name{ text-align: left; font-weight: bold; font-size: 20px; width: 596px;}
section ul.content-wrap div.result div.contact-wrap ul.contact-row-one li.panel-holder ul.panel li{ display:none; margin:0px 10px 0px 0px; }
section ul.content-wrap div.result div.contact-wrap:hover ul.contact-row-one li.panel-holder ul.panel li{display: block;}
section ul.content-wrap div.result div.contact-wrap ul.contact-row-one li.panel-holder ul.panel li a{ color: rgb(44,151,218); font-size:12px;  }
section ul.content-wrap div.result div.contact-wrap ul.contact-row-one li.panel-holder ul.panel li a:active { color: rgb(252, 208, 53); }
section ul.content-wrap div.result div.contact-wrap ul.contact-row-two li {text-align: left; font-size: 15px; width: 298px;}
section ul.content-map-wrap {border:solid 0px;  width:1349px; margin:0px auto;}
section ul li{list-style: none;}
section div.report-form { border:solid 0px; border-radius: 5px; height:25px; padding:15px;  position:absolute; z-index: 3;width: 550px; margin: 34px 0px 0px 123px; height: 473px; background-color: rgba(255,255,255, 0.79); }
section div.report-form ul.form-inner-holder {  }
section div.report-form h1 { color:rgb(41, 162, 73); }
section div.report-form ul.form-inner-holder li { margin-top:5px; }
section div.report-form ul.form-inner-holder li.input-lable {  }
section div.report-form ul.form-inner-holder li.input-holder {  }
section div.report-form ul.form-inner-holder li.input-holder textarea.rep-desc { width:545px; height:120px; resize:none; }
section div.report-form ul.form-inner-holder li.input-holder button.rep-button { width:552px; }

section ul.content-wrap li.right-content ul.box-holder { margin: 10px 0px 10px 20px; color:rgb(44,151,218); }
section ul.content-wrap li.right-content ul.box-holder h3{ color:rgb(0,0,0); }
section ul.content-wrap li.right-content ul.box-holder li{margin: 11px 0px 0px 25px; text-align: left; float:none;}
section ul.content-wrap li.right-content ul.box-holder li a{ color: rgb(44,151,218); }
section ul.content-wrap li.right-content ul.box-holder li a:active{ color:rgb(219, 168, 31); }

section ul.content-wrap li.right-content { border-right:solid 1px rgba(95, 95, 95,0.7); border-left:solid 1px rgba(95, 95, 95,0.7); border-bottom:solid 1px rgba(95, 95, 95,0.7);  width:320px; min-height:620px;}
section ul.content-wrap li.right-content ul.notify-holder { border:solid 0px; margin:10px auto; width:300px; }

section ul.content-wrap li.right-content ul.social-update { padding:10px; border:solid 0px; }
section ul.content-wrap li.right-content ul.social-update li.img-holder {width:60px; height:60px; background:rgb(172, 172, 172); margin-right:20px; }
section ul.content-wrap li.right-content ul.social-update li.img-holder img{ width:60px; height:60px; }
section ul.content-wrap li.right-content ul.social-update li.updt-header h4.netizen-name { font-family:"droid_sansregular"; }
section ul.content-wrap li.right-content ul.social-update li.updt-header p.from-social { font-size: 10px; font-family:"droid_sansregular";}
section ul.content-wrap li.right-content ul.social-update li.content-social {  font-size: 13px; font-family:"droid_sansregular"; }
section ul.content-wrap li.right-content ul.login-form-wrap { border:solid 0px rgb(65, 196, 99); padding:10px; width: 300px; margin: 0px auto; }
section ul.content-wrap li.right-content ul.login-form-wrap li { margin-top:3px; float:none; }
section ul.content-wrap li.right-content div.weather-holder {min-height:620px; height:865px; max-height:910px; overflow: hidden; }

section div.map-holder{border:solid 0px; margin-top: -3px; position:relative; z-index: 1; height:655px;}
section div.map-holder iframe.noah {border:solid 0px;  margin-top: -48px; float:left; width:100%; height:107%;}
footer { z-index:3; border:solid 0px; background-color: rgb(47, 46, 46); color: rgb(255,255,255); padding:5px;}
/*
footer div.author{ font-size:12px; margin:15px 0px 0px 15px; width:50%;}
footer ul.dept_logos { border:solid 1px; float:right; }
footer ul.dept_logos li { float:left; }
*/
footer ul.footer-divider {  }
footer ul.footer-divider li { float:left; width:49.7%; list-style:none;  }
footer ul.footer-divider li.author { font-size: 14px; margin-top:10px;}
footer ul.footer-divider li.dept_logos ul.dept_logo li{ width:50px; height:50px; border-radius:75%; float:left; margin:0px 0px 0px 50px; }
footer ul.footer-divider li.dept_logos ul.dept_logo li img{ width:50px; height:50px;  }
#login-button,#save-contact { width: 100%;}
#login-button { text-align: center;}
.login-loader{width:25px;height:25px; margin:0px auto;}
.notify-contact{ font-size: 12px; color:red; text-align: center; }
span.notify-opass { color:rgb(255, 0, 0); }
span.notify-npass { color:rgb(255, 0, 0); }
span.notify-vpass { color:rgb(255, 0, 0); }