@charset "utf-8";
* { margin:0px; padding:0px; font-family: "droid_sansregular";}
#link_get_widget { display:none; }
/** Clearfix */
/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }

.wrapper{margin:0px auto; width:1080px;}

/*
    FONTS
*/

.font_bold {font-family: "droid_sansbold";}
.font_reg { font-family: "droid_sansregular"; }

/*
    BUTTONS
*/ 

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b8e356), color-stop(1, #a5cc52));
	background:-moz-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-webkit-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-o-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:-ms-linear-gradient(top, #b8e356 5%, #a5cc52 100%);
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8e356', endColorstr='#a5cc52',GradientType=0);
	background-color:#b8e356;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #83c41a;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:"droid_sansregular";
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #86ae47;
}
.btn:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a5cc52), color-stop(1, #b8e356));
	background:-moz-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-webkit-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-o-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:-ms-linear-gradient(top, #a5cc52 5%, #b8e356 100%);
	background:linear-gradient(to bottom, #a5cc52 5%, #b8e356 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a5cc52', endColorstr='#b8e356',GradientType=0);
	background-color:#a5cc52;
}
.btn:active {
	position:relative;
	top:1px;
}


/*
   INPUTS
*/
.input-text { color: rgb(16, 95, 40);  font-family: "droid_sansregular"; width:100%; height:30px; font-size: 12px; border-radius: 5px; border:solid 1px rgb(89, 93, 82); padding:3px; width: 97%; }

/*
  EFFECTS
*/

.gradient { background-color: rgb(20, 105, 56); background-image: linear-gradient(rgb(95, 207, 128), rgb(20, 105, 56)); background: rgb(20, 105, 56); background: linear-gradient(rgb(95, 207, 128), rgb(20, 105, 56)); }

.innerbanner_content {
    height: auto;
    margin: 0px auto;
    max-width: 860px;
    width: 90%;
    background: none repeat scroll 0% 0% #FFF;
    padding: 5px;
    box-shadow: 0px 0px 15px 10px rgba(100, 100, 100, 0.39);
}

.box2 {
    position: relative;
    width: 860px;
    height: 460px;
    background-color: #FFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25), 0px 0px 50px rgba(0, 0, 0, 0.1) inset;
    border-radius: 0% 0% 25% 25% / 0%;
}
.box2:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px;
    left: 4px;
    width: 50%;
    height: 17%;
    box-shadow: 0px 27px 11px rgba(0, 0, 0, 0.52);
}

.box2:after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 15px;
    right: 4px;
    width: 50%;
    height: 17%;
    box-shadow: 0px 27px 11px rgba(0, 0, 0, 0.52);
    transform: rotate(3deg) skew(8deg);
}

/*
    Notifications
*/

li.notify-ok {width:92%; background-color:rgb(156, 199, 76); border-radius:5px ; border:solid 0px rgb(88, 108, 41); padding:10px; -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe; }
li.notify-err {width:92%; background-color:rgb(234, 23, 23); border-radius:5px ; border:solid 0px rgb(88, 108, 41); padding:10px; -moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe; }


